[Unit]
Description=Number generator service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/projects/questionServer/
ExecStart=/usr/bin/python3 /home/pi/projects/questionServer/questionServer.py
Restart=always

[Install]
WantedBy=multi-user.target
