<!doctype html>
<html>
    <head>
        <title>Random Number Generator</title>
    </head>
    <body>
        <h1>Random Number Generator</h1>
        <form method="post">
            <label for="start_num">Start number:</label>
            <input type="number" id="start_num" name="start_num" value="1">
            <br>
            <label for="end_num">End number:</label>
            <input type="number" id="end_num" name="end_num" value="260">
            <br>
            <input type="submit" value="Generate">
        </form>
        <br>
        <a href="/new_game">Start a new game</a>
    </body>
</html>

